<div class="thumb padding">
    <h3>Купить билет</h3>
    <aside>
        Мечтают ли андроиды об электроовцах? Глупый вопрос! У нас есть вопрос получше: мечтают ли граждане Найт-сити попасть на крупнейшее киберпанк-мероприятие в истории SL Corps.? И ответ на него — конечно же, да! 
    </aside>
    <a href="/event/7" class="button">Купить билет</a>
</div>