.table{
	width: 100%;
    margin-top: 15px;
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    position: relative;
}
.table thead th{
	padding: 5px;
    text-align: left;
}
.table thead th i{
    margin-left: 5px;
    position: relative;
} 
.table tr td{
    padding: 5px;
}
.table .md-icon{
    display: inline-block;
    font-size: 1em;
    padding-right: 5px;
}
.table a:last-child .md-icon{
    padding: 0px;
}

.admin-category-list{
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 10px;
}
.thumb.admin-category-tile{
	width: 25%;
}
.thumb.admin-category-tile .admin-category{
    max-width: 80%;
    margin: 0px auto;
}

.attributes-tree ul{
    list-style: none;
}
.attributes-tree .md-icon{
    color: inherit;
    font-size: 20px;
    margin-right: 5px;
}
.attributes-tree .add-action{
    margin-top: 10px;
}
.attributes-tree .attribute-item-name{
    margin: 5px 0px;
}
.attributes-tree input.attribute-edit-field{
    display: inline-block;
    margin-bottom: 10px;
    width: auto;
    padding: 0;
}

.action-edit{
    display: none;
}