* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    transition: 0.44s, 0.22s, ease-out, opacity;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4286;
    color: #fff;
    color: #000;
    background-color: rgb(43, 43, 48);
    background-color: #fff;
    background: #f4f4f4;
    color: #434A54;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d2383b;
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 10px;
}

ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}

a{
    color: #d2383b;
    text-decoration: none;
    font-weight: 500;
}

h2, .h2{
    color: #5d5252;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 7px 0px 10px;
    padding: 0px;
}
h3, .h3{
    color: #5d5252;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
}
h4, .h4{
    font-size: 14px;
    line-height: 16px;
}

h2:first-letter, .h2:first-letter, h3:first-letter, .h3:first-letter{
    color: #d2383b;
    text-transform: uppercase;
}

aside{
    background: #f4f4f4;
    padding: 10px;
    margin: 10px 0px;
    display: block;
    width: 100%;
}

blockquote{
    margin: 0px;
    border-left: 5px solid #d2383b;
    padding: 6px 10px;
    background: #f5f8fa;
}

.sidebar{
    width: calc( 100% - 665px );
    float: right;
}

.main {
    height: 100%;
}

.main-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.flex-fill {
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    flex: 1 1 0%;
}

.left-wrap {
    height: inherit;
    position: fixed;
    z-index: 99;
}

.left-wrap .app-top {
    margin: 16px 0 0px 20px;
    position: relative;
}

.left-wrap .app-bar {
    z-index: 100;
    width: 68px;
    user-select: none;
    background: rgb(34, 34, 38);
    background: #f1bb63;
    background: #d44a5b;
    background: #e54a55;
    background: #d2383b;
    transition: all 0.22s;
}

.left-wrap .app-bar nav {
    width: 100%;
    flex: 1 1 0%;
}

.left-wrap .app-bar ul {
    min-height: 100vh;
    list-style: none;
    padding: 0px;
}

.app-bar li:first-child {
    amargin-top: 10px;
}

.app-bar li.spacer {
    flex: 1;
}

.app-bar .app-bar-link {
    display: block;
    font-size: 25px;
    height: 56px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    color: rgba(255, 255, 255, 0.74);
    transition: all .22s ease;
}

.app-bar .app-bar-link .md-icon {
    color: inherit;
    line-height: 56px;
    font-size: inherit;
}

.app-bar .app-bar-link.avatar {
    height: auto;
    padding: 8px 8px 0px 8px;
    box-sizing: border-box;
}

.app-bar .app-bar-link.avatar img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.app-bar a.app-bar-link:hover,
.app-bar a.app-bar-link.selected {
    background: #3f51b5;
    background: rgba(0, 0, 0, 0.2);
}

.app-bar a.app-bar-link.selected {
    aborder-left: 5px solid #fff;
}

.app-bar .app-bar-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 10px;
    margin-top: 2px;
    text-decoration: none;
    display: none;
}

.search .search-flex {
    display: flex;
    position: relative;
}

.search .search-form {
    flex: 1;
    position: relative;
}
.search .search-form .md-icon{
    line-height: 35px;
    padding: 0px 10px;
    font-size: 18px;
}
.search .search-but {
    position: absolute;
    top: 0;
    right: 0;
}

.search input.search-field[type="text"] {
    flex: 1;
    height: inherit;
    padding-right: 30px;
    background: #fff;
}

.search .search-outer {
    margin-right: 5px;
    font-size: 18px;
}

.users-list {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(255, 255, 255, 0.54);
    color: rgba(0, 0, 0, 0.54);
}

.users-list li {
    position: relative;
}

.users-list li.user-item {
    height: 40px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.users-list a.user {
    color: inherit;
    text-decoration: none;
    flex: 1;
    display: flex;
}

.users-list li.user-item:hover {
    background: #f1bb63;
    background: rgba(0, 0, 0, 0.1);
    acolor: rgba(255, 255, 255, 0.84);
}

.users-list a.user .name {
    margin: 0px 12px;
    font-weight: 600;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    vertical-align: middle;
}

a.user .name:before,
a.name:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 12px;
    background: #a1a1a1;
}

.online a.name:before,
a.user.online .name:before {
    background: #759900;
}

.users-list li.user-item .icon {
    line-height: 2em;
    align-self: center;
    vertical-align: middle;
}

.users-list li.user-item .user-button {
    display: flex;
}
.users-list li.user-item .user-button button{
    width: 42px;
}
.users-list li.user-item .actions-menu {
    right: 5px;
}

.actions-menu {
    list-style-type: none;
    padding: 0px;
    position: absolute;
    background: #fff;
    top: 100%;
    border-radius: 3px;
    margin: auto 0;
    pointer-events: auto;
    text-align: left;
    z-index: 10;
    min-width: 300px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: none;
    right: 5px;
}

.actions-menu.show {
    display: block!important;
}

.actions-menu:before {
    content: '';
    position: absolute;
    right: 14px;
    top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 5px 7px;
    border-color: transparent transparent #ffffff transparent;
}

.actions-menu li a {
    display: block;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    color: #666;
    font-weight: 100;
    display: flex;
}

.actions-menu li a .icon {
    font-size: 20px;
    margin-right: 10px;
}
.actions-menu li .action-confirm{
    padding: 0px;
    background: #d2383b;
    color: #fff!important;
    text-align: center;
    display: block;
    width: 100%;
    height: 0px;
    transition: all .2s ease;
    moz-transition: all .2s ease;
    overflow: hidden;
}
.actions-menu li[data-confirm="true"] .action-confirm{
    padding: 3px 10px;
    height: auto;
}

.actions-menu li.loading a {
    display: block;
    height: auto;
    padding: 0px 12px;
    text-align: center;
}

.avatar img{
    display: block;
}
.avatar.small img{
    height: 24px;
    width: 24px;
}
.avatar.middle img{
    height: 40px;
    width: 40px;
}
.avatar.big img{
    height: 140px;
    width: 140px;
}

fieldset{
    border: none;
    margin: 15px 0px 0px;
    padding: 0px;
}
fieldset label{
    font-weight: 600;
    color: #97a1ab;
    padding: 0px 2px 3px;
    display: block;
    font-size: 13px;
    avisibility: hidden;
    letter-spacing: 1.5px;
}

fieldset.image input{
    display: none;
}

.field,
div.send-form-area{
    display: block;
    border: none;
    padding: 10px 12px 11px 12px;
    width: 100%;
    background: #2b2b30;
    background: #f5f8fa;
    color: rgba(255,255,255,0.52);
    color: rgba(0,0,0,0.52);
    cursor: text;

    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
select.field{
    cursor: pointer;
}
.field:empty{
    color: #97a1ab;
}
.field:focus::placeholder{
    color: #fff;
}
fieldset .field:focus + label{
    visibility: visible;
    border: 1px solid red;
    color: red;
}
div.send-form-area:empty:before{
    content: attr(placeholder);
    display: block;
}
.field:hover, .field:active, .field:focus, .field:target, .icon:hover, .icon:focus, .icon:target, div.send-form-area{
    outline: none;
}

.button{
    background: #d2383b;
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}
.button.gray{
    background: #97a1ab;
}
.button:hover{
    background: #c03336;
}
.button.gray:hover{
    background: #757d84;
}

.field:hover,
.field:active,
.field:focus,
.field:target,
.icon:hover,
.icon:focus,
.icon:target,
div.send-form-area {
    outline: none;
}

.left-wrap .app-content {
    width: 360px;
    background: #404045;
    background: #f5f8fa;
    background: #fff;
    overflow: hidden;
    transition: .22s transform;
    overflow-y: scroll;
    position: relative;
}

.left-wrap .app-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.left-wrap .app-content::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.left-wrap .app-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d2383b;
}

.left-wrap .app-content .loader {
    display: none;
}

.left-wrap .app-content.loading .loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left-wrap .app-content.loading .tab-content {
    display: none;
}

.app-content-wrap {
    position: relative;
    color: #fff;
    color: #000;
    width: 360px;
}

.app-content-wrap ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-indent: 0;
}

.app-content-wrap .tree-more {
    float: left;
    width: 20px;
    min-height: 1px;
    line-height: 18px;
    text-align: center;
}

.app-content-wrap .tree-header {
    font-size: 12px;
    font-weight: normal;
    margin: 3px 0 11px 20px;
    color: rgba(255, 255, 255, 0.74);
    color: rgba(0, 0, 0, 0.74);
    margin: 1px 0 8px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    height: 21px;
}

.full-viewport-height {
    height: 100vh;
}

.simple-scrollbar {
    aoverflow-y: auto;
}

.page-content {
    width: calc( 100% - 430px);
    float: right;
    position: relative;
    z-index: 10;
}

.main-col {
    max-width: 800px;
    margin: 15px auto;
}

.user-page {}

.user-page-header {
    padding: 12px;
    max-width: 800px;
    width: 100%;
}
.user-page-header .avatar{
    cursor: pointer;
}
.user-page-header .avatar.big img {
    aborder-radius: 100px;
    height: auto;
}

.user-page-header .user-page-info {
    width: calc( 100% - 145px);
    position: relative;
}

.user-page-info .info-param {
    margin-top: 5px;
}
.user-page-info .info-param a{
    color: #000;
    font-weight: 100;
}
.user-page-info .row {
    display: flex;
    padding: 5px 0px 0px 10px;
    width: 100%;
    position: relative;
}

.user-page-info .row .spacer {
    flex: 1;
}
.user-page-info .row span {
    font-size: 0.9em;
    color: #bbb;
}
.user-page-info .row .md-icon{
    vertical-align: top;
    margin-right: 8px;
    font-size: 20px;
}

.user-page-info .row .actions-menu{
    right: 0px;
}

.user-page-info .row .user-action-more{
    margin-right: 0px;
}
.user-page-info .row .user-action-message{
    margin-bottom: -2px;
}

.send-post-form{
    display: flex;
    padding-bottom: 10px;
    position: relative;
    z-index: 5;
}
.send-post-form .avatar{
    padding: 0px 15px 0px 12px;
    overflow: hidden;
}
.send-post-form .avatar img{
    aborder-radius: 40px;
    aoverflow: hidden;
    display: block;
}
.send-post-form .send-form-area{
    aheight: 42px;
    padding-right: 95px;    
    max-width: calc( 100% - 55px );
}
.block .send-post-form .send-form-area{
    padding-right: 0px;
}
.send-post-form .send-button,
.send-post-form .attach-button{
    display: block;
    box-sizing: border-box;
    asvisibility: hidden;
    font-size: 18px;
    height: calc( 100% - 10px );
    width: 42px;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    padding: 0px;
}
.send-post-form .attach-button{
    right: 42px;
}
.send-post-form .attach-input{
    display: none;
}
.send-post-form .send-button:hover,
.send-post-form .attach-button:hover{
    background: rgba(0, 0, 0, .05);
}
.send-post-form .attach-button .count{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    color: #fff;
    background: red;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
}
.send-post-form .attach-button .count:empty{
    display: none;
}

.wall {
    margin-top: 15px;
}

.thumbs{
    width: 650px;
    float: left;
}
.thumbs .thumb{
    display: flex;
    min-height: 140px;
}
.thumb{
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    position: relative;
}
.thumb.big{
    display: block;
}
.thumb.padding{
    padding: 15px;
}
.thumb.comments{
    padding: 0px 15px;
    display: block;
}
.thumb.comments .title_line{
    display: flex;
    margin-bottom: 5px;
}
.thumb.comments span.h2{
    font-weight: bold;
    font-size: 20px;
}
.thumb.comments h3:after{
    position: relative;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background: #5d5252;
    margin: 12px 10px 0px;
    float: right;
}
.thumb .image-holder{
    position: relative;
    display: block;
    width: 250px;
    min-width: 250px;
}
.thumb.post .image-holder{
    max-height: 141px;
    overflow: hidden;
}
.thumb.big .image-holder{
    width: 100%;
}
.thumb .image-holder img{
    width: 100%;
    display: block;
}
.thumb.post .image-holder img{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.thumb.post .time{
    padding: 7px 10px;
    background: #222;
    position: absolute;
    top: 15px;
    left: -5px;
    color: #fff;
    font-size: 12px;
    transition: all .1s ease;
    moz-transition: all .1s ease;
    z-index: 2;
}
.thumb.post:hover .time{
    left: -10px;
}
.thumb.post .description{
    max-height: 3em;
    overflow: hidden;
}
.thumb .content-holder{
    padding: 10px 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.thumb .content-holder p img{
    width: 100%!important;
    height: auto!important;
}
.thumb .content-holder p iframe{
    width: 100%;
}
.thumb .content-holder .content br{
    display: none;
}
.thumb.post:hover h3{
    color: #97a1ab;
}
.thumb p{
    margin: 4px 0px 8px;
    font-size: 14px;
}
.thumb .info .user .name{
    margin-left: 10px;
    font-weight: bold;
}
.thumb .info .user .avatar,
.thumb .info .user .avatar img{
    border-radius: 40px;
    overflow: hidden;
}
.thumb:not(.big) .info{
    position: absolute;
    bottom: 15px;
}
.thumb.big .info{
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
}
.thumb.big .info .time{
    margin-right: 10px;
}
.thumb.big .info span.dot{
    margin-top: 18px;
}
.thumb span{
    font-size: 15px;
    color: #999;
    float: left;
}
.thumb span i.fa{
    margin-right: 1px;
}
.thumb span.dot{
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background: #999;
    margin: 9px 8px 0px;
}

.line_new{
    margin: 10px 0px;
    display: flex;
}
.line_new .image-holder{
    width: 100px;
    min-width: 100px;
    display: block;
    margin-right: 10px;
}

.comments-list{
    padding: 10px 0px;
}
.comments-list.empty{
    display: none;
}
.comments-list .comment{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}
.comments-list .comment .avatar{
    margin-right: 15px;
    border-radius: 40px;
    overflow: hidden;
    min-width: 40px;
}
.comments-list .comment .avatar img{
    border-radius: 40px;
}
.comments-list .comment .content{
    flex: 1;
}
.comments-list .comment .content .text{
    background: #f4f4f4;
    padding: 8px 10px 9px;
    word-break: break-word;
}
.comments-list .comment .content .info{
    position: relative;
    bottom: auto;
    margin: -6px 3px 0px 0px;
    display: flex;
}
.comments-list .comment .content .info a,
.comments-list .comment .content .info abbr{
    vertical-align: middle;
    line-height: 36px;
    padding-left: 0px;
}
.comments-list .comment .content .info span{
    font-size: 14px;
    padding: 0px 10px;
    vertical-align: middle;
}
.comments-list .comment .content .info span:last-child{
    padding-right: 0px;
}
.comments-list .comment .content .info .spacer{
    flex: 1;
}
.comments-list .comment .content .info.comment-options{
    margin-top: 3px;
}
.comments-list .comment .content .info.comment-options span:first-child{
    padding-left: 0px;
}

ul.categories{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul.categories li{
    display: inline-block;
}
ul.categories li a{
    display: inline-block;
    color: #4c6d5e;
    font-weight: bold;
    padding: 8px 10px;
}
ul.categories li a:hover{
    color: #97a1ab;
}
ul.categories li.selected a{
    background: #fff;
}

.post-holder {
    margin-top: 15px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.post-holder .user-avatar {
    padding-right: 12px;
}

.post-holder .post {
    abox-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 12px 12px 0px;
    background: #f5f8fa;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-radius: 3px;
}
.post .post-header {
    display: flex;
}
.post .post-header .spacer {
    flex: 1;
}
.post .comments-list{
    border-top: 1px solid #f4f4f4;
    padding-top: 11px;
    margin-top: 0px;
}
.post .comments-list .comment:last-child{
    margin: 0px;
}
.post .comments-list .comment .info{
    height: 26px;
}
.post .comments-list .comment .text{
    background: transparent;
    padding: 0px;
    margin: -2px 0px;
}
.post .comments-list .comment .content .info a, 
.post .comments-list .comment .content .info abbr {
    line-height: 26px;
}
.post-holder .send-comment{
    border-top: 1px solid #f4f4f4;
    background: #fff;
    padding: 10px 10px 0px;
    display: none;
}
.post-holder .send-comment.show{
    display: block;
}
.post-holder .send-comment .send-form-area{
    background: #f4f4f4;
    box-shadow: none;
    border: none;
}
.post-holder .send-comment .send-post-form .avatar{
    padding-left: 0px;
    padding-right: 8px;
}

p.status {
    margin: 0px;
    padding: 0px;
    color: #444;
    font-size: 0.9em;
}

a.name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

abbr.time {
    text-decoration: none;
    color: #999;
    padding: 0px 8px;
}

.post .post-header .info-holder {
    margin-top: 2px;
}

.post .post-header abbr.time {
    padding-left: 0px;
}

.post .post-header .actions button.md-icon {
    height: 1em;
    line-height: 16px;
}

.post .post-content {
    line-height: 1.462;
    padding-top: 3px;
    overflow: hidden;
    word-wrap: break-word;
}

.post .actions{}

.actions {
    apadding: 8px 0 4px 0;
    display: flex;
    font-size: 15px;
}
.post-content > .actions{
    margin-top: 10px;
}
.actions .spacer{
    flex: 1;
}
.actions .action {
    display: inline-block;
    color: #999;
    vertical-align: top;
    line-height: 20px;
    padding: 10px 12px 11px;
    padding-right: 40px;
}
.actions .action:first-child{
    padding-left: 0px;
}
.actions .action:last-child{
    padding-right: 0px;
}
.actions .action span:hover{
    color: #333;
    cursor: pointer;
}
.actions span.active,
.actions span.active .md-icon{
    color: #d2383b;
}
.actions .action .md-icon{
    color: inherit;
    line-height: 20px;
}
.actions .action .action-count{
    display: inline-block;
    vertical-align: top;
    color: #909499;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -.2px;
    margin: 0px 8px!important;
}
.actions .action .action-count.rating{
    min-width: 35px;
    text-align: center;
}
.actions .action.action-comment{
    padding: 10px 8px 11px 12px;
    padding-left: 40px;
}
.actions .action.action-comment .md-icon{
    margin-bottom: -2px;
}
.actions span{
    vertical-align: middle;
    align-self: center;
}

.md-icon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icon, .md-icon {
    background: none;
    border: none;
    position: relative;
    color: rgba(255, 255, 255, 0.52);
    color: rgba(0, 0, 0, 0.52);
    transition: .22s color;
}
button.md-icon:not(.not-button){
    width: 40px;
    min-height: 36px;
    line-height: 36px;
}
button.icon:hover,
button.md-icon:hover{
    background: rgba(0, 0, 0, .05);
}
button.md-icon:active,
button.md-icon:focus,
button.md-icon:hover,
button.icon:hover,
a.md-icon:hover,
a.icon:hover{
    outline: none;
    cursor: pointer;
    color: #fff;
    color: #000;
}

.mobile-show {
    display: none;
}

.popup_layer {
    display: none;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: calc( 100% - 430px );
    right: 0;
    top: 0;
}

.popup_layer.show {
    display: block;
}

.popup {
    position: absolute;
    max-width: 800px;
    min-width: 350px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_header_holder {}
.popup_header {
    background: #e54a55;
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
}
.popup_header .close {
    color: #fff;
    cursor: pointer;
}
.popup_content {
    padding: 15px;
}

.popup.popup-photo{
    height: 100%;
}
.popup.popup-photo .popup_content{
    padding: 0px;
    height: 100%;
    background: #1e1e1e;
}
.popup.popup-photo .popup_content img{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

#infscr-loading{
    text-align: center;
}
#infscr-loading img{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 15px auto 0px;

    transition: max-width .5s ease-out;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media screen and (min-width: 769px) {
    .user-page-info .info-param{
        display: inline-block;
        min-width: 50%;
        width: auto;
        float: left;
    }
    .user-page-info .info-param{
        color: #555!important;
    }

    .popup{
        max-height: calc( 100vh - 30px );
        padding: 15px 0px;
    }
}

@media screen and (max-width: 768px) {
    .left-wrap .app-bar {
        width: 42px;
    }
    .app-bar .app-bar-link {
        font-size: 18px;
        height: 34px;
    }
    .app-bar .app-bar-link .md-icon {
        display: block;
        line-height: 34px;
    }
    .app-bar .app-bar-text {
        display: none;
    }
    .left-wrap .app-content {
        position: absolute;
        z-index: 99;
        left: -350px;
        width: 330px;
        top: 0;
    }
    .app-content-wrap {
        width: 330px;
    }
    .page-content {
        width: calc( 100% - 42px);
        padding: 0px 10px;
    }
    .popup_layer {
        width: calc( 100% - 42px );
    }

    .main-col{
        margin-top: 0px;
    }

    .user-page-header{
        padding: 0px;
        margin-top: 0px;
    }
    .user-page-header .avatar,
    .user-page-header .user-page-info{
        width: 100%;
        float: none;
    }
    .user-page-header .avatar{
        height: 200px;
        position: relative;
        overflow: hidden;
    }
    .user-page-header .avatar.big img{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
    .user-page-header .user-page-info{
        padding: 10px 4px;
    }

    .thumb.post .image-holder{
        max-height: 100%;
    }
    .thumb.post .image-holder img{
        position: relative;
        top: 0px;
        transform: none;
    }
}

@media screen and (max-width: 480px) {
    .mobile-hide {
        display: none!important;
    }
    .mobile-show {
        display: block!important;
    }
    .left-wrap {
        position: inherit;
    }
    .app-bar a.app-bar-link:hover {
        background: transparent;
    }
    .app-bar a.app-bar-link.selected {
        background: rgba(0, 0, 0, 0.2);
        border: none;
    }
    .left-wrap .app-content {
        width: 100%;
        left: -100%;
        position: fixed;
    }
    .app-content-wrap {
        width: 100%;
    }
    .page-content {
        width: 100%;
        margin-bottom: 44px;
        padding: 0px;
    }
    .popup_layer {
        width: 100%;
        height: calc( 100vh - 44px );
    }
    .full-viewport-height {
        height: calc( 100vh - 44px);
    }
    .left-wrap .app-bar {
        position: fixed;
        bottom: 0px;
        min-height: 0px;
        height: auto;
        width: 100%;
    }
    .left-wrap .app-bar ul {
        min-height: 0px;
        height: auto;
        flex-direction: row;
        margin: 0px;
    }
    .left-wrap .app-bar ul li:first-child {
        margin-top: 0px;
    }
    .left-wrap .app-bar ul li {
        display: inline-block;
        float: left;
        flex: 1;
    }
    .app-bar .app-bar-link {
        margin: 0px;
        height: 44px;
    }
    .app-bar .app-bar-link .md-icon {
        padding: 0px;
        line-height: 44px;
    }
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.clearfix {
    clear: both;
    display: table;
    width: 100%;
    position: relative;
}
