.tickets-list a.user .name{
    margin-left: 0px;
}
.tickets-list a.user .name:before{
    display: none;
}
.tickets-list .ticket-info{
    padding-top: 15px;
    text-align: left;
    flex: 1;
}
.tickets-list .qr{
    flex: 1;
    max-width: 200px;
}
.tickets-list .qr img{
    max-width: 100%;
}

.tickets{
    margin-bottom: 10px;
}
.ticket{
    display: flex;
    margin-top: 0px;
}
.ticket .date-info{
    min-width: 75px;
    margin-right: 15px;
    text-align: center;
}
.ticket .date-info .odate{
    
}
.ticket .date-info .odate .day{
    font-size: 19px;
    font-weight: bold;
}
.ticket .date-info .odate .wd{
    font-size: 16px;
    color: #a8a8a8;
    float: none;
}
.ticket .date-info .odate .weekday{
    font-size: 14px;
    padding: 0 0 5px 0;
}
.ticket .date-info .time{
    font-weight: bold;
    font-size: 17px;
}
.ticket .loc-info{
    flex: 1;
    padding: 5px 15px 0 10px;
}
.ticket .loc-info a{
    font-weight: bold;
}
.ticket .buy-info{
    float: right;
    text-align: right;
    position: relative;
}
.ticket .buy-info .button{
    margin-bottom: 5px;
    display: inline-block;
}
.ticket .buy-info .count{
    display: block;
    margin: 1px 0px;
}
.ticket .buy-info .price{
    display: block;
    font-weight: bold;
    margin: 1px 0px;
}
.ticket .buy-info .change-ticket{
    display: none;
    position: absolute;
    top: 33px;
    right: 0px;
    width: 100%;
    z-index: 2;
}
.ticket .buy-info .change-ticket.show{
    display: block;
}
.ticket .buy-info .change-ticket ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.ticket .buy-info .change-ticket ul li{
    width: 100%;
    margin: 0px;
}

.e-left, .e-right {
    display: table-cell;
    box-sizing: border-box;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 83px;
    position: relative;
    width: 50%;
}

.e-left {
    padding-right: 33px;
}
.e-title {
    color: #3d424a;
    font-size: 20px;
    font-weight: 600;
}
.e-title a {
    color: inherit;
}
.e-top-note {
    color: #7c858e;
    margin: 2px 0px 0px 0px!important;
    padding: 0px!important;
}
a, a:before, b, b:before, button, button:before, div, div:before, input, li, li:before, span, span:before, td, textarea {
    -webkit-transition: color .3s ease-in-out 0,border-color .3s ease-in-out 0,background-color .3s ease-in-out 0,opacity .3s ease-in-out 0,bottom .3s ease-in-out 0;
    transition: color .3s ease-in-out 0,border-color .3s ease-in-out 0,background-color .3s ease-in-out 0,opacity .3s ease-in-out 0,bottom .3s ease-in-out 0;
}
.e-left-bottom, .e-right-bottom {
    bottom: 27px;
    position: absolute;
    width: 100%;
}
.e-icons {
    font-size: 0;
}
.e-icon, .e-icons {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
.e-icon {
    height: 39px;
    width: 39px;
}
.e-icon img {
    height: 100%;
}
.e-labels {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin: 5px 0 0 17px;
    margin: 5px 0 0 0px;
}
.event-labels {
    border-radius: 15px;
    font-size: 0;
    position: relative;
}
.event-labels-item {
    position: absolute;
    top: -15px;
    left: 0;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    background-color: #e52e36;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    line-height: 28px;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    z-index: 1;
    text-align: center;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
    width: 260px;
    will-change: opacity;
}
.event-labels-item_active{
    opacity: 1;
}
.event-labels-item span{
    color: inherit;
    float: none;
}
.dIBlock {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
.e-right {
    border-left: 1px solid #d3d5d6;
    padding-left: 33px;
}
.e-top-time {
    display: inline;
}
.e-top-note {
    color: #7c858e;
    margin-top: 2px;
}
.e-right-bottom {
    bottom: 25px;
}

.map-container{
    width: 100%;
    padding: 50px 15px;
    position: relative;
}
.map-image-container{
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    position: relative;
}
.map-image{
    margin: 0px auto;
    display: inline-block;
    max-width: 100%;
    position: relative;
}
.map-image img{
    max-width: 100%;
}
.map-stand{
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    background: #883024;
    align-items: center;
    transform: translate(-50%, -50%);
}
.map-stand span{
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.map-stand.mini{
    width: 36px;
    height: 36px;
}
.map-stand.mini span{
    list-style: 36px;
}

@media screen and (max-width: 740px){
    .thumb .e-inner{
        padding: 0px;
    }
    .e-left, .e-right {
        display: block;
        padding: 14px 9px 85px;
        width: 100%;
        text-align: center;
    }
    .e-left {
        padding-bottom: 32px;
    }
    .e-right {
        border-left: none;
        border-top: 1px solid #d3d5d6;
        padding-bottom: 25px;
    }
    .e-right .e-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
    .e-labels{
        
    }
    .event-labels-item{
        transform: translate(-50%);
    }
    .adaptive-hidden {
        display: none!important;
    }
    .e-left-bottom, .e-right-bottom {
        font-size: 0;
        left: 9px;
        right: 9px;
        width: auto;
    }
    .e-left-bottom {
        margin-top: 20px;
        position: static;
    }
    .e-right-bottom {
        position: static;
        margin-top: 25px;
    }
    .map-stand{
        width: 27px;
        height: 27px;
    }
    .map-stand span{
        line-height: 27px;
    }
}
@media screen and (max-width: 600px){
    .ticket{
        display: block;
    }
    .ticket:after{
        clear: both;
        display: table;
        content: "";
    }
    .ticket .loc-info{
        padding-bottom: 8px;
    }
    .ticket .date-info{
        float: left;
    }
}